<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
      <span class="text-muted">&copy; 2022 VolunTier</span>
    </div> 

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#">
          <ion-icon name="logo-facebook" id="facebook"></ion-icon>
        </a></li>
      <li class="ms-3"><a class="text-muted" href="#">
          <ion-icon name="logo-twitter" id="twitter"></ion-icon>
        </a></li>
      <li class="ms-3"><a class="text-muted" href="#">
          <ion-icon name="logo-instagram" id="insta"></ion-icon>
        </a></li>
    </ul>
  </footer>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>






</body>

</html>
