<%- include("partials/header") -%>

<div class="jumbotronHome jumbotron-fluid p-5 mb-4 rounded-3 center">
  <div class="container-fluid py-5 row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img class="logo_home" src="/images/vt_logo.png" alt="Logo image of VolunTier">
      <h1 class="display-5 fw-bold">Ready to Volunteer?</h1>
      <p class="col-sm-16 fs-4">VolunTier allows easy access for you to quickly find volunteer opportunities in nearby areas or even remotely!</p>
      <a class="btn btn-success" href="/map" role="button">Volunteer Now</a>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">

      <!-- Begin Carousel -->

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item  active">
            <img class="homeImage" src="/images/hands.jfif" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

      <!-- End Carousel -->
    </div>
  </div>
</div>

<hr>
<div class="centerText">
  <h2 class="spaceBelow"><u><strong>Volunteer Opportunities For You!</strong></u></h2>
  <div class="row">
    <div class="col-lg-4  col-sm-12">
      <h2><strong>Drake Community Library</strong></h2>
      <h3>Story Teller</h3>
      <br>
      <a class="btn btn-success" href="/map" role="button">Volunteer Now</a>
    </div>
    <div class=" col-lg-4 col-sm-12">
      <h2><strong>Friends of the Forest Organization</strong></h2>
      <h3>Seed Planter/Waterer</h3>
      <br>
      <a class="btn btn-success" href="/map" role="button">Volunteer Now</a>
    </div>
    <div class=" col-lg-4 col-sm-12">
      <h2><strong>Grinnell College</strong></h2>
      <h3>Food Deliverer</h3>
      <br>
      <a class="btn btn-success" href="/map" role="button">Volunteer Now</a>
    </div>
    <br>
    <br>








  <%- include("partials/footer") -%>
