<%- include("partials/header") -%>

<div class="row">
  <div class="column3">
  <input class="mapSearch" type="text" placeholder="Search for Organizations.." title="Type in a name">
  <div class="list-group">
  <a href="/confirmation" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Plant trees @ Merrill Park! by
Friends of the Forest Organization</h5>
      <small>0.3 miles away</small>
    </div>
    <p class="mb-1">03/10/2022 10 AM - 12 PM</p>
    <small>801 11th Ave, Grinnell, IA 50112</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Volunteer at Drake Community Library
by Drake Community Library</h5>
      <small class="text-muted">1.4 miles away</small>
    </div>
    <p class="mb-1">03/10/2022 10 AM - 12 PM</p>
    <small class="text-muted">930 Park St, Grinnell, IA 50112</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">ReStore Volunteer
by Habitat For Humanity of Grinnell</h5>
      <small class="text-muted">1.7 miles away</small>
    </div>
    <p class="mb-1">03/10/2022 12 PM - 4 PM</p>
    <small class="text-muted">1115 8th Ave, Grinnell, IA 50112</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Kitchen Help @ G. College Marketplace
by Grinnell College</h5>
      <small class="text-muted">2.8 miles away</small>
    </div>
    <p class="mb-1">03/10/2022 12 PM - 4 PM</p>
    <small class="text-muted">1115 8th Ave, Grinnell, IA 50112</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Food Truck Driver @ G. College Marketplace
by Grinnell College</h5>
      <small class="text-muted">4.1 miles away</small>
    </div>
    <p class="mb-1">03/10/2022 12 PM - 4 PM</p>
    <small class="text-muted">1115 8th Ave, Grinnell, IA 50112</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Food Delivery
by Grinnell College</h5>
      <small class="text-muted">6.1 miles away</small>
    </div>
    <p class="mb-1">03/10/2022 12 PM - 4 PM</p>
    <small class="text-muted">1115 8th Ave, Grinnell, IA 50112</small>
  </a>
</div>
  </div>
  <div class="column7">
    <iframe
      width=1050px
      height=650px
      style="border:0"
      loading="lazy"
      allowfullscreen
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWzIftwQpi9cqW7ik1GEDGP-vQgHDMzRA
        &q=Grinnell+College,Grinnell+IA">
    </iframe>
  </div>
</div>





<%- include("partials/footer") -%>
