<%- include("partials/header2") -%>


<!-- Steps section -->

    <section class="section-steps">
      <div class="row">
        <h2>Organization &mdash; Red Cross</h2>
      </div>
      <div class="row">
        <div class="column3j">
          <img
            src="/images/redCross.png"
            alt="Org profile image"
            width= "80%"
            height="80%"
            class="leftmar circrad"
          />
        </div>
        <div class="column7j">
          <p>Our need for volunteers is constant and continues to evolve as we navigate this Coronavirus health crisis.<br>
            If you are interested in serving to meet essential service needs in the public, review the CDC guidance,<br>
            consult your healthcare provider, and follow local guidance. The number one priority of the<br>
            American Red Cross is the health and safety of our employees, volunteers, blood donors and recipients,<br>
            and clients. Volunteers applying for in-person position assignments must be fully vaccinated.<br>
            Instructions on providing information and supporting documentation of vaccination will be provided<br>
            once you submit your application.</p>
          <a class="btn btn-full" href="#">Show more...</a>
          <a class="btn btn-dim" href="#">Donate</a>
        </div>
      </div>

      <br>
      <hr>
      <br>


      <div class="row">
        <div class="column3j center leftmar">
          <p class="solidol">2116 Grand Ave, Des Moines, IA 50312</p><br>
          <img
            src="/images/rc1.jpg"
            alt="Org profile image"
            width= "90%"
            height="80%"
          />
        </div>
        <div class="column3j center pad4">
          <p class="solidol">426 5th St #101, Ames, IA 50010</p><br>
          <img
            src="/images/rc2.jpg"
            alt="Org profile image"
            width= "90%"
            height="80%"
          />
        </div>
        <div class="column3j center pad4">
          <p class="solidol">2530 University Ave, Waterloo, IA 50701</p><br>
          <img
            src="/images/rc3.jpg"
            alt="Org profile image"
            width= "90%"
            height="80%"
          />
        </div>
      </div> <!-- End of row -->
    </section>

    <%- include("partials/footer") -%>
