<%- include("partials/header2") -%>


<section class="section-steps column7j vline" id="steps">
  <div class="row">
    <h2>Profile &mdash; Joan Johnson</h2>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img class="circular stock_img" src="/images/stock2.png" alt="profile image" class="app-symbol js--wp-2" />
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 centerText">
      <div><strong>Recent Volunteer Activity</strong></div>
      <div>March 4, 2022</div>
      <p>
        Volunteered 4 hours at Habitat Live.
      </p>
      <div>February 26th, 2022</div>
      <p>
        Volunteered 3 hours at Animals Rescue.
      </p>
      <div>February 18th, 2022</div>
      <p>
        Volunteered 1 hours at Econ Health.
      </p>
      <a class="btn btn-full" href="#">See all recorded activities...</a>
      <a class="btn btn-full" href="/ranking">Ranking</a>
    </div>
  </div>

  <br>

  <div class="row center centerItems ">
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol ">Total Hours</p>
      <p class="solidol2">74</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol">Badges Earned</p>
      <p class="solidol2">28</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol">Top Organization</p>
      <p class="solidol2">Habitat For Humanity</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol">Top Category</p>
      <p class="solidol2">Shelters</p>
    </div>
  </div> <!-- End of row -->

  <br>
  <br>
  <br>

  <div class="row centerText">
    <p style="font-size:22px;"><b>Introduction</b></p>
    <br>
    <p> I volunteer to give back to my community. I am grateful for the help I received from others. I love working with animals and am always on the lookout for volunteer opportunities!
      Volunteering is something you do not for the money, but for self-satisfaction that you helped someone else. Any time someone helps another without being asked they are volunteering. Many people volunteer but inside they really wish they were
      out having fun, but I volunteer for the look on the child’s face when he/she learns something new. Volunteering can help you feel connected to those you are helping in the community. This experience may make you want to get involved with other aspects of your community, such as local politics or advocating for programs you believe are important.
      Volunteering is a great way to meet new friends as well as strengthen existing connections with friends, family or coworkers. As a volunteer, you’ll typically interact with people from diverse backgrounds, which allows you to learn other perspectives.

When you choose an organization or cause to volunteer for, consider the people you’re volunteering alongside did as well. Sharing a common interest will help you build closer relationships with those around you.
    </p>
  </div>
  </div>
  </div>
</section>

<section class="section-steps column3j leftpadding" id="steps">
  <p style="font-size:22px;">
    <b>Recommended friends</b>
  </p>
  <div class="row">
    <img class="column3j circular" src="/images/hwijin.png" alt="profile image" class="app-symbol js--wp-2" />
    <p class="column7j">Hwi Jin Jang</p>
    <br>
    <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <hr>
  <div class="row">
    <img class="column3j circular" src="/images/jae.png" alt="profile image" class="app-symbol js--wp-2" />
    <p class="column7j">Jae Chul Jung</p>
    <br>
    <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <hr>
  <div class="row">
    <img class="column3j circular" src="/images/chase.png" alt="profile image" />
    <p class="column7j">Chase Holdener</p>
    <br>
    <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <hr>
  <div class="row">
    <img class="column3j circular" src="/images/john.png" alt="profile image" class="app-symbol js--wp-2" />
    <p class="column7j">John Tobin</p>
    <br>
    <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <hr>
  <div class="row">
    <img class="column3j circular" src="/images/matt.png" alt="profile image" class="app-symbol js--wp-2" />
    <p class="column7j">Matt Gao</p>
    <br>
    <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</section>

<%- include("partials/footer") -%>
