<%- include("partials/header2") -%>

<section class="section-steps">
      <div class="row">
        <h2 style="font-size: 60px;">Ranking</h2>
      </div>
      <div class="row">
        <div class="column7j center">
          <div class="row" style="margin-left: 200px;">
          <div class="prs center">
            <p style="font-size: 30px; border-radius: 10px; outline-style: solid;" class="column3r">1</p>
            <p style="font-size: 30px; border-radius: 10px; outline-style: solid; margin-left: 250px; margin-right: -250px; background-color: wheat;"><img class="trophyImage"src="/images/trophy.png" alt="Gold Trophy image">James  -  235 hours</p>
            <p style="font-size: 30px; border-radius: 10px; outline-style: solid;" class="column3r">2</p>
            <p style="font-size: 30px; border-radius: 10px; outline-style: solid; margin-left: 250px; margin-right: -250px; background-color: wheat;"><img class="trophyImage" src="/images/silver.png" alt="Silver Tophy Image">Brian  -  211 hours</p>
            <p style="font-size: 30px; border-radius: 10px; outline-style: solid;" class="column3r">3</p>
            <p style="font-size: 30px; border-radius: 10px; outline-style: solid; margin-left: 250px; margin-right: -250px; background-color: wheat;"><img class="trophyImage" src="/images/bronze.png" alt="Bronze Trophy Image">Charley -  192 hours</p>
            <p style="font-size: 30px; border-radius: 10px; outline-style: solid;" class="column3r">4</p>
            <p style="font-size: 30px; border-radius: 10px; outline-style: solid; margin-left: 250px; margin-right: -250px; background-color: wheat;">Steven - 180 hours</p>
            <p style="font-size: 30px; border-radius: 10px; outline-style: solid;" id="column333">23</p>
            <p id="amanda" style="font-size: 30px; border-radius: 10px; outline-style: solid; margin-left: 250px; margin-right: -250px;">Joan (You) - 74 hours</p>
          </div>
          </div>
        </div>
        <div class="column3j center">
          <p style="margin-right: 320px; font-size: 30px;">Timeline</p>
          <div class = plan-box2 style="margin-bottom: 20px;">
            <a href="#">This week</a><br>
            <a href="#">This month</a><br>
            <a class="plan-cyan" href="#">All Time</a><br>
          </div>
          <br>
          <p style="margin-right: 340px; font-size: 30px;">Scale</p>
          <div class="plan-box2 center">
            <a href="#">Global</a><br>
            <a class="plan-cyan" href="#">Friends</a><br>
          </div>
        </div>
      </div>
    </section>



<%- include("partials/footer") -%>
