<%- include("partials/header") -%>


<main class="form-signin">
<form>
<img class="mb-4" src="/images/vt_logo.png" alt="Logo image" width="300" height="120">
<h1 class="h3 mb-3 fw-normal">Sign up</h1>

<div class="form-floating">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Create a password</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Retype password </label>
</div>

<div class="checkbox mb-3">
  <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
</div>
<a class="w-100 btn btn-lg btn-primary" href="/" role="button">Create Account</a>
</form>
</main>




<%- include("partials/footer") -%>
